html {
  /* Modifying the root font size */
  font-size: 10px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0)),
    url(../images/bahamas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
}
.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.logo-image {
  width: 10rem;
}

.logo--animated {
  animation: moveFromTopWithBounce 4s ease-out;
}

.navbar {
  padding: 2rem;
  margin-top: 20rem;
}

.content {
  /* display: block; */
  padding: 1rem;
  flex-grow: 1;
}

.title {
  font-size: 4rem;
  animation: moveInFromLeftAndResize 1s ease-out;
  color: gray;
  position: absolute;
  top: 1rem;
  left: 7rem;
}
.subtitle {
  font-size: 1rem;
  animation: fadeIn 1s ease-out;
  color: gray;
  position: absolute;
  top: 2rem;
  left: 5rem;
}
.about {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: absolute;
  top: 7rem;
  left: 20rem;
}
.card-about {
  background-color: whitesmoke;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5px;
  height: 15rem;
  max-width: 15rem;
}

.card-image-about {
  height: 15rem;
  max-width: 15rem;
}

.card-about-me-content {
  height: 10rem;
  max-width: 74rem;
  padding: 1rem;
  margin-top: 4rem;
}
.projects {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 20em;
  left: 20rem;
}

.card {
  background-color: whitesmoke;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5px;
}

.card-image-container {
  height: 20rem;
  max-width: 20em;
}
.card-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-title {
  margin-bottom: 1rem;
}
.card-subtitle {
  margin-bottom: 1rem;
}
.card-info {
  margin-bottom: 1rem;
}
.contact {
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  position: absolute;
  top: 45rem;
  left: 20rem;
  display: flex;
}

.contact-form {
  margin: 10px auto;
  max-width: 50%;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  justify-content: center;
}
.contact-form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.contact-form label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  outline: none;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="search"]:focus,
.contact-form input[type="time"]:focus,
.contact-form input[type="url"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.contact-form .field-divided {
  width: 49%;
}

.contact-form .field-long {
  width: 100%;
}
.contact-form .field-select {
  width: 100%;
}
.contact-form .field-textarea {
  height: 100px;
}
.contact-form input[type="submit"],
.contact-form input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.contact-form input[type="submit"]:hover,
.contact-form input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.contact-form .required {
  color: red;
}

@keyframes moveFromTopWithBounce {
  0% {
    transform: translateY(-10rem);
  }

  50% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveInFromLeftAndResize {
  0% {
    font-size: 7rem;
    transform: translateX(-50%);
  }

  40% {
    font-size: 6rem;
    transform: translateX(-20%);
  }
  100% {
    font-size: 5rem;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* media query for Tablet and Mobile */
@media screen and(max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
@media screen and(max-width: 560px) {
  .container {
    flex-direction: column;
  }
}
