html {
  /* Modifying the root font size */
  font-size: 10px;
}
body {
  margin: 0px;
}

.hero {
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0)),
    url(../images/bahamas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.logo-image {
  width: 10rem;
}

.logo--animated {
  animation: moveFromTopWithBounce 4s ease-out;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
  text-align: center;
  height: 100vh;
  display: flex;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.content {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
  text-align: center;
  height: 100vh;
  padding: 1rem;
}
.content h1 {
  font-size: 5rem;
  animation: moveInFromLeftAndResize 1s ease-out;
}

.content h2 {
  font-size: 3rem;
  animation: fadeIn 1s ease-out;
}

.about {
  padding: 1ren;
}

.projects {
  padding: 1ren;
}
.contact {
  padding: 1ren;
}

/* .btn {
  background-color: lightsalmon;
  padding: 0.8rem;
  min-width: 200px;
  margin: 10px;
  text-decoration: none;
  color: gray;
  font-size: 1.8rem;
  border-radius: 0.2rem;
} */

@keyframes moveFromTopWithBounce {
  0% {
    transform: translateY(-10rem);
  }

  50% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveInFromLeftAndResize {
  0% {
    font-size: 7rem;
    transform: translateX(-50%);
  }

  40% {
    font-size: 6rem;
    transform: translateX(-20%);
  }
  100% {
    font-size: 5rem;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* add media query */
@media screen and(max-width:768px) {
  .container {
    flex-direction: column;
  }
}
@media screen and(max-width:400px) {
  .container {
    flex-direction: column;
  }
}
